---
import Navbar from "./Navbar.astro";
---

<header>
  <a id="name" href="/">
    <img id="logo" style="width: 1.5em" src="logo.png" alt="" />
    osgalvan
  </a>
  <Navbar />
</header>
<style>
  header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  #name {
    display: flex;
    align-items: center;
    margin-right: 1em;
    font-size: 2em;
    font-weight: 500;
  }
  #name img {
    margin-right: 0.2em;
  }
</style>
