---
import Navbar from "./Navbar.astro";
import SocialLinks from "./SocialLinks.astro";
---

<header>
  <a href="/"> <img id="logo" style="width: 5em" src="favicon.svg" alt="" /></a>
  <Navbar />
  <SocialLinks />
</header>
